@define-color bg-color rgba(0, 0, 0, 0.5);
@define-color border-color rgba(55, 55, 55, 0.5);

* {
	border: none;
	border-radius: 7px;
}
window#waybar {
	background: rgba(0, 0, 0, 0);
}

#custom-launcher {
	background: @bg-color;
	border: 1px solid @border-color;
	padding: 0px 14px;

	background-image: url('');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;

	margin: 0px 5px 9px 5px;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.8);
}

#taskbar {
	padding:  0 5px 0 5px;
}

#workspaces {
	padding:  0 5px 0 5px;
}

#workspaces,
#taskbar,
#cpu,
#memory,
#pulseaudio,
#clock,
#tray {
	padding-left: 10px;
	padding-right: 10px;

	background: @bg-color;
	border: 1px solid @border-color;
	margin: 0px 5px 9px 0px;
	box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.8);
}
